/* Font family */
@font-face {
  font-family: "openSans";
  src:
    url("../fonts/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* variable */
:root {
  --primary-color: #fd6e0a;
  --secondary-color: #fff8f3;
  --text-primary: #1a1a1a;
  --text-secondary: #474747;
  --text-tertiary: #ffffff;
  --bg-color: #f8f9fa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "openSans", Arial, sans-serif;

  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header css start  */
.header {
  background-color: var(--secondary-color);
  padding-top: 20px;
}
/* Navbar css start  */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: var(--text-primary);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-primary);
  max-height: 164px;
}
nav h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.logo {
  color: var(--primary-color);
}
.nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--text-secondary);
  font-size: 20px;
}
.nav-items button {
  cursor: pointer;
  width: 150px;
  height: 64px;
  background-color: var(--primary-color);
  font-size: 20px;
  color: var(--text-tertiary);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 5px;
}
/* Navbar css end  */

/* Hero css start  */
.hero {
  background-color: var(--secondary-color);
  background-image: url("../images/header_bg.png");
  background-size: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  max-height: 676px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.hero-text {
  max-width: 584px;
  padding: 20px;
}

.greet {
  font-size: 2.8rem;
  color: var(--text-secondary);
  margin-bottom: 5px;
}
.name {
  font-size: 5.3rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 20px;
}
.hero-image img {
  width: 100%;
  max-width: 584px;
  height: auto;
  display: block;
}
.hero-text > p {
  font-size: 1.1rem;
  color: var(--text-secondary);
  line-height: 1.7;
  margin-bottom: 30px;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 200px;
  height: 64px;
  background-color: var(--primary-color);
  font-size: 1.25rem;
  color: var(--text-tertiary);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #e65c00;
}
.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 160px;
  height: 64px;
  background-color: transparent;
  font-size: 1.25rem;
  color: var(--primary-color);
  font-weight: 700;
  border: none;
  outline: 2px solid var(--primary-color);
  border-radius: 5px;
  margin-left: 30px;
}
/* Header css end  */
/* About css start  */
.about {
  max-width: 1140px;
  max-height: 676px;
  text-align: center;
  margin: 130px auto 0;
  padding: clamp(30px, 10%, 130px) clamp(30px, 10%, 150px);
  background-color: var(--secondary-color);
}
.about > h3 {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--text-primary);
}

.about > p {
  font-size: 1.12rem;
  color: var(--text-secondary);
  margin: 30px 0;
  line-height: 1.7;
}
.about-info span {
  font-size: 1.25 rem;
  color: var(--text-secondary);
  line-height: 1.7;
  font-weight: 400;
}
.about-info {
  font-size: 1.25 rem;
  color: var(--text-primary);
  font-weight: 700;
  line-height: 1.7;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

/* skills section start  */
.skills {
  max-width: 1140px;
  max-height: 676px;
  text-align: center;
  margin: 130px auto 0;
}
.skills > h3 {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 30px;
}

.skills > p {
  font-size: 1.12rem;
  color: var(--text-secondary);
  margin-bottom: 30px;
  line-height: 1.6;
  padding: 30px 115px 30px 115px;
  color: var(--text-secondary);
}
.skill-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.skill-card {
  width: 267px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
  background-color: var(--text-tertiary);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}
.skill-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  width: 44px;
  height: auto;
  margin-bottom: 10px;
}
.skill-card > h4 {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
}
.skill-card > p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--text-secondary);
}
/* skills section end  */

/* resume section */
.resume {
  max-width: 1140px;

  margin: 130px auto;
}
.resume h3 {
  font-size: 2.18rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 113px;
  text-align: center;
}

.resume h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 30px;
}
.resume h5 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--text-secondary);
  margin-bottom: 10px;
}
.resume p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-secondary);
}
.resume hr {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
  border-radius: 1px;
}
.resume-info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.resume-btn {
  display: flex;
  margin: 30px auto 0 auto;
}
.work {
  max-width: 1140px;

  margin: 130px auto;
}
.work h3 {
  font-size: 2.18rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 50px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 20px;
  max-width: 1140px;
  max-height: 740px;
  margin: 0 auto;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-1 {
  grid-column: 1;
  grid-row: 1/5;
}

.card-2 {
  grid-column: 2;
  grid-row: 1/7;
}
.card-3 {
  grid-column: 3;
  grid-row: 1/4;
}

.card-4 {
  grid-column: 1;
  grid-row: 5/11;
}
.card-5 {
  grid-column: 2;
  grid-row: 7/11;
}

.card-6 {
  grid-column: 3;
  grid-row: 4/11;
}

/* footer */
footer {
  background-color: var(--secondary-color);
  max-width: 1600px;
  padding: 130px 0;
  margin: 0 auto;
}
.footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 30px;
  padding: 0 20px;
}

.footer-form > h3,
.footer-content > h3 {
  font-size: 2.18rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 30px;
}
.footer-content > p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 30px;
  line-height: 1.6;
}

.footer-form > input {
  margin-top: 30px;
  height: 64px;
  width: 461px;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
}
.footer-form input[type="textarea"] {
  height: 180px;
  width: 461px;
  margin-bottom: 30px;
}
.social-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}
